version: "3.9"

services:

  websocket1_fastapi_chatting_service:
    build:
      context: ./web-sockets-1
      dockerfile: Dockerfile
    container_name: "lawfirm-fastapi_chatting_service-web-sockets-1"
    env_file: ./web-sockets-1/.env
    restart: unless-stopped
    # depends_on:
    #   - rabbitmq
    ports: 
      - "9008:9008"
    networks:
      - law_firm_crm-backend-network


  websocket2_fastapi_chatting_service:
    build:
      context: ./web-sockets-2
      dockerfile: Dockerfile
    container_name: "lawfirm-fastapi_chatting_service-web-sockets-2"
    env_file: ./web-sockets-2/.env
    restart: unless-stopped
    # depends_on:
    #   - rabbitmq
    ports: 
      - "9009:9009"
    networks:
      - law_firm_crm-backend-network



volumes:
  rabbitmq_data:

networks:
  law_firm_crm-backend-network:
    external: true

