# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# VSCode / PyCharm / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.pid.lock
*.sock
*.swp
docker-compose.override.yml

# Byte-compiled / cache
*.egg-info/
.eggs/
dist/
build/

# Coverage / Testing
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.pytest_cache/
